<div class="container" style="margin-top: 70px;">
  
<form [formGroup]="form" (ngSubmit)="submit()">
      
    <div class="form-group">
        <label for="numPecDaInviare">Pec non inviate</label>
        <input formControlName="numPecDaInviare"
            id="numPecDaInviare" 
            type="text" 
            class="form-control" >
        <div *ngIf="f.numPecDaInviare.touched && f.numPecDaInviare.invalid" class="alert alert-danger">
            <div *ngIf="f.numPecDaInviare.errors && f.numPecDaInviare.errors.required">Pec da inviare is required.</div>
        </div>
    </div>
   
    <div class="form-group">
        <label for="numPecSel">Seleziona Pec da inviare:</label>
        <select formControlName="numPecSel" class="form-control" (change)="changeNumPecSel($event)">
            <option disabled>Seleziona Num Pec da inviare</option>
            
            <option *ngFor="let numPec of numPecList">{{numPec}}</option>
        </select>
        <div *ngIf="f.numPecSel.touched && f.numPecSel.invalid" class="alert alert-danger">
            <div *ngIf="f.numPecSel.errors && f.numPecSel.errors.required">NumPecSel è obbligatorio</div>
        </div>
    </div>    
   
    
  
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

</div>