<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Anagrafica Vero</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/hash-create">Crea Hash from File</a>
      </li>-->
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/avvocato-grid">Lista Avvocati</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/import-avvocato">Importa Avvocati</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/invia-pec">Invia Pec</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/invia-mail">Invia Mail</a>
      </li>


    </ul>
  </div>
</nav>