<div class="jumbotron" style="background-color: #fff; height: calc(95vh);">
    <h1>REGINDE</h1>
    <p class="lead">
      Quest'applicazione permette di leggere un file csv con uno specifico formato e di generare il codice HASH per ogni record del file.
    </p> 
    <p class="lead">
      Di seguito il fomrato che dovrà avere il file csv:
    </p>
    <p class="lead">
      <b>Intestazione Colonne:</b> tessera; cognome;	nome;	data;	sesso; nazione;	provinca;	comune
    </p>
    <p class="lead">
      <b>Separatore:</b>  Catattere 'punto e virgola' (<b>;</b>)
    </p>
    <p class="lead">
      Tutti i campi saranno di tipo testo e la data (data nascita) in nparticolare dovrà avere il seguente: gg-mm-aaaa
    </p>
    
  </div>